[Unit]
Description=MQTT Shutdown

Wants=network.target
After=syslog.target network-online.target

[Service]
Type=simple
ExecStart=/usr/local/bin/mqtt_shutdown
Restart=on-failure
RestartSec=10
KillMode=process

[Install]
WantedBy=multi-user.target
